# {{ ansible_managed }}
[common]
burpui_apiurl = {{ burpui_apiurl }}
days_outdated = {{ burp_report_days_outdated }}
csv_delimiter = {{ burp_report_csv_delimiter }}
csv_encoding = {{ burp_report_csv_encoding }}
excluded_clients = {{ burp_excluded_clients }}

[inventory_columns]
{% for l in burp_report_inventory_columns %}
{{ l }}
{% endfor %}

[inventory_status]
{% for l in burp_report_inventory_status %}
{{ l }}
{% endfor %}

[email_notification]
email_to = {{ burp_report_emails_to }}
smtp_password = {{ burp_report_smtp_password }}
email_from = {{ burp_report_emails_from }}
smtp_server = {{ burp_report_smtp_server }}
smtp_login = {{ burp_report_smtp_login }}
smtp_mode = {{ burp_report_smtp_mode }}
smtp_port = {{ burp_report_smtp_port }}
foot_notes = {{ burp_report_emails_notes }}

[format_text]
all_column_length = {{ burp_report_all_column_length }}
name_length = {{ burp_report_name_length }}

[email_inventory]
# TODAY will set today date in
# format: "SENTON 23-Sep-2017 Subject \"inventory\"" (subject comes from email_subject key)
# you could filter using the IMAP rules here (check
# http://www.example-code.com/csharp/imap-search-critera.asp)
imap_search = {{ burp_report_imap_search }}
imap_port = {{ burp_report_imap_port }}
imap_folder = {{ burp_report_imap_folder }}
imap_host = {{ burp_report_imap_host }}
attachment_save_directory = {{ burp_report_attachment_save_directory }}
imap_password = {{ burp_report_imap_password }}
email_subject = {{ burp_report_email_subject }}
attachment_filename = {{ burp_report_attachment_filename }}
# You can use 'domain\user'
imap_user = {{ burp_report_imap_user }}
