[common]
burpui_apiurl = {{ burpui_apiurl }}
days_outdated = {{ burp_report_days_outdated }}
csv_delimiter = ;
excluded_clients = {{ burp_excluded_clients }}

[inventory_columns]
server = servidor
status = status
sub_status = status (detailed)
client_name = device name

[inventory_status]
not_inventory_in_burp = not in inventory
in_many_servers = duplicated
in_inventory_updated = ok
spare_not_in_burp = ignored spare
in_inventory_not_in_burp = absent
spare_in_burp = wrong spare in burp
inactive_in_burp = wrong not active
spare = spare
active = active

[email_notification]
email_to = {{ burp_report_emails_to }}
smtp_password = {{ smtp_password }}
email_from = {{ burp_report_emails_from }}
smtp_server = {{ smtp_relay }}
smtp_login = {{ smtp_login }}
smtp_mode = {{ smtp_mode }}
smtp_port = {{ smtp_port }}
foot_notes = {{ burp_report_emails_notes }}
